# Virtual environment
.venv/

# Raw dataset files
data/raw/*.xlsx
data/raw/*.xls
data/raw/*.csv

# Large processed files
data/processed/cleaned_online_retail.csv
data/processed/retail_sales.db

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db